@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');
@import "tailwindcss";


:root {
  --background: #F2F1EF;
  --foreground: #171717;
}


@media (prefers-color-scheme: light) {
  :root {
    --background: #F2F1EF;
    --foreground: #000000;
  }
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Montserrat', sans-serif;
  font-size: 22px;
}


.perspective-1000 {
  perspective: 1000px;
}

.preserve-3d {
  transform-style: preserve-3d;
}

.backface-hidden {
  backface-visibility: hidden;
}